.imageOne, .imageTwo{
    width: 736px;
    height: auto;
    object-fit: contain;
    position: absolute;
    z-index: var(--farthest);
}

.imageOne{
    top: -100px;
    right: -80px;
}

.imageTwo{
    bottom: 650px;
    left: -350px;
}

@media(max-width: 1160px){
    .imageOne {
        width: 635px;
        right: -180px;
    }
}

@media(max-width: 860px){
    .imageOne {
        width: 535px;
    }
}

@media(max-width: 820px){
    .imageTwo{
        display: none;
    }
}

@media(max-width: 410px){
    .imageOne {
        width: 365px;
        top: -20px;
        right: -70px;
    }
}