.container{
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-bottom: 48px;
}

.title{
    color: #242D52;
    text-align: center;
    font-size: 2.5rem;
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.714px;
    margin-bottom: 52px;
}

.getStartedButton{
    width: 137px;
    height: 44px;
    background-color: #F3603C;
    border-radius: 22px;
    box-shadow: 0px 15px 15px -10px #FF9F8E;
    cursor: pointer;
    align-self: center;
    border: none;
    color: #FCF6F5;
    font-size: 0.8125rem;
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.getStartedButton:hover{
    background-color: #F98F75;
}

.window{
    height: 220px;
    position: relative;
}

.quotesCarousel{
    position: absolute;
    width: 2250px;
    display: flex;
    gap: 30px;
}

.quotebox {
    width: 540px;
    min-height: 220px;
    padding: 35px 30px 0px 30px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 19px;
    position: relative;
    z-index: var(--far);
}

.image{
    width: 72px;
    height: auto;
    object-fit: contain;
    position: absolute;
    top: -35px;
    left: 0;
    right: 0;
    margin: auto;
}

.name{
    color: #242D52;
    text-align: center;
    font-size: 1rem;
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.286px;
}

.quote{
    color: #242D52;
    text-align: center;
    font-size: 1rem;
    font-family: var(--font);
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.5025343894958496;
}